<section class="section_growth-sector-previews partial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="pre-title">Lincolnshire’s Investment Opportunities</p>
                <h2 class="h2-large text-dark-blue mt-0 mb-3">Industrial &amp; Technology Growth Sectors</h2>
                <p>Lincolnshire is leading the way in the high-growth, technology-driven sectors of the future.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/adv-eng-manu.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-aem" href="#">Advanced Engineering &amp; Manufacturing</a></h3>
                        <p>A leading industry cluster with cutting-edge innovation in Industry 4.0 specialisations including AI, big data, robotics and automation.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-aem"><svg class="clr-aem" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/agrifood.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-agrifood" href="#">Agrifood</a></h3>
                        <p>At the heart of the UK’s agrifood sector and home to Europe’s largest agrifood technology, automation and robotics industry cluster.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-agrifood"><svg class="clr-agrifood" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/defence-security.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-defence" href="#">Defence &amp; Security</a></h3>
                        <p>The location of choice for defence and security technology innovation, with 40% of the RAF’s assets in or near the region.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-defence"><svg class="clr-defence" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/logistics.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-logistics" href="#">Logistics</a></h3>
                        <p>A major logistics centre with the UK’s 2nd highest concentration of logistics businesses and the country’s 2nd largest ports complex (by tonnage).</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-logistics"><svg class="clr-logistics" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/low-carbon.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-lowcarbon" href="#">Low Carbon Energy &amp; Industry</a></h3>
                        <p>At the forefront of the UK’s transition to Net Zero and a pioneering testbed for clean energy generation, storage and distribution.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-lowcarbon"><svg class="clr-lowcarbon" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/robotics.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-irobotics" href="#">Intelligent Robotics</a></h3>
                        <p>Advanced, cross-sector AI/intelligent robotics capabilities, transforming industrial productivity through digitalisation and automation.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-irobotics"><svg class="clr-irobotics" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>