<section class="section_growth-sector-previews partial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="pre-title">Lincolnshire’s Investment Opportunities</p>
                <h2 class="h2-large text-dark-blue mt-0 mb-3">Industrial &amp; Technology Growth Sectors</h2>
                <p>Lincolnshire is leading the way in the high-growth, technology-driven sectors of the future.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/adv-eng-manu.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-aem" href="#">Advanced Engineering &amp; Manufacturing</a></h3>
                        <p>A leading industry cluster with cutting-edge innovation in Industry 4.0 specialisations including AI, big data, robotics and automation.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-aem"><svg width="28.183" height="24" class="clr-aem" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit,q_auto,f_auto/agrifood.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-agrifood" href="#">Agrifood</a></h3>
                        <p>At the heart of the UK’s agrifood sector and home to Europe’s largest agrifood technology, automation and robotics industry cluster.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                    <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-agrifood"><svg width="28.183" height="24" class="clr-agrifood" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit,q_auto,f_auto/defence-security.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-defence" href="#">Defence &amp; Security</a></h3>
                        <p>The location of choice for defence and security technology innovation, with 40% of the RAF’s assets in or near the region.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-defence"><svg width="28.183" height="24" class="clr-defence" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit,q_auto,f_auto/logistics.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-logistics" href="#">Logistics</a></h3>
                        <p>A major logistics centre with the UK’s 2nd highest concentration of logistics businesses and the country’s 2nd largest ports complex (by tonnage).</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-logistics"><svg width="28.183" height="24" class="clr-logistics" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit,q_auto,f_auto/low-carbon.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-lowcarbon" href="#">Low Carbon Energy &amp; Industry</a></h3>
                        <p>At the forefront of the UK’s transition to Net Zero and a pioneering testbed for clean energy generation, storage and distribution.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-lowcarbon"><svg width="28.183" height="24" class="clr-lowcarbon" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card-wrapper position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src="https://images.weserv.nl/?url=https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit,q_auto,f_auto/robotics.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link clr-irobotics" href="#">Intelligent Robotics</a></h3>
                        <p>Advanced, cross-sector AI/intelligent robotics capabilities, transforming industrial productivity through digitalisation and automation.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right clr-irobotics"><svg width="28.183" height="24" class="clr-irobotics" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>