{{$imagedomain := string .Site.Params.imagedomain }}
{{$cloudinarydomain := string .Site.Params.cloudinarydomain }}
<section class="section_transport-map mb-lg-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-lg-8 offset-lg-1">
                <div class="map-wrapper pe-5 mb-4 mb-lg-0">
                    <img src="{{ $imagedomain }}{{ .Params.hgvdrivetimesmap.drivetimesmap }}" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-3 col-xl-2 d-flex align-items-start align-items-lg-center">
                <div class="key-wrapper w-100 d-flex flex-column justify-content-center align-items-lg-center">
                    <h3 class="text-red text-uppercase text-lg-center mb-4">HGV<br class="d-none d-lg-block"> Drive<br class="d-none d-lg-block"> Times<br> <span>(from Lincoln)</span></h3>

                    <div class="key-item d-flex d-lg-block align-items-center mb-3 mb-lg-5">
                        <div class="icon-wrapper d-flex justify-content-center mb-lg-3 me-4 me-lg-0">
                            <img src="{{ $imagedomain }}red-icon.svg" alt="">
                        </div>

                        <p class="text-dark-blue fw-bold text-lg-center text-uppercase mb-0">Greater<br class="d-none d-lg-block"> Lincolnshire</p>
                    </div>

                    <div class="key-item d-flex d-lg-block align-items-center mb-3 mb-lg-5">
                        <div class="icon-wrapper d-flex justify-content-center mb-lg-3 me-4 me-lg-0">
                            <img src="{{ $imagedomain }}pink-icon.svg" alt="">
                        </div>

                        <p class="text-dark-blue fw-bold text-lg-center text-uppercase mb-0">3 hour HGV<br class="d-none d-lg-block"> drive time</p>
                    </div>

                    <div class="key-item d-flex d-lg-block align-items-center mb-3 mb-lg-4">
                        <div class="icon-wrapper d-flex justify-content-center mb-lg-3 me-4 me-lg-0">
                            <img src="{{ $imagedomain }}light-blue-icon.svg" alt="">
                        </div>

                        <p class="text-dark-blue fw-bold text-lg-center text-uppercase mb-0">4.5 hour HGV<br class="d-none d-lg-block"> drive time<br> <span class="fw-normal">(1 driver shift)</span></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>