
<section class="section_banner-with-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 pe-lg-0">

                <div class="red-border d-block d-lg-flex align-items-center">
                    <div class="content">
                        <h2 class="h2-small text-red">{{ .Params.entrancelocationmap.heading }}</h2>
                        <p>{{ .Params.entrancelocationmap.text }}</p>
                    </div>

                    <div class="img-wrapper">
                        <img loading="lazy" src="{{ .Site.Params.imagedomain }}w_535,h_472,c_fit/{{ .Params.entrancelocationmap.image }}" alt="A map of Great Britain showing Lincolnshire's location in relation to the ret of the country.">
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-3 ps-lg-0 position-relative">
                <div class="red-sidebar position-relative d-flex flex-column justify-content-center findoutmore">
                    <h3><a class="full-card-click arrow-link" href="{{ .Params.entrancelocationmap.destination }}">{{ .Params.entrancelocationmap.ctaheading }}</a></h3>
                    <p>{{ .Params.entrancelocationmap.ctatext }}</p>

                    <div class="btn-wrapper d-flex justify-content-end">
                        <i class=""><svg fill="#ffffff" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"/></svg></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>