{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_50-50-sectors">
    <div class="container">
        <div class="row">
            <!-- other sectors start-->
            {{ range .Params.entranceothersectors.sectors }}
            <div class="col-12 col-lg-6 position-relative">
                <h2 class="h2-small text-dark-blue">{{ .overheading }}</h2>
                <div class="card">
                    <div class="card-header">
                        <img loading="lazy" src="{{$imagedomain}}w_636,h_390,c_fit/{{ .image }}" alt="photo highlighting {{ .overheading }}">
                    </div>
                    <div class="card-body">
                        <h3><a class="full-card-click arrow-link" href="{{ .destination }}">{{ .heading }}</a></h3>
                        <p>{{ .text }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right"><svg width="28.183" height="24" fill="#000000" version="1.1" viewBox="0 0 1.1273 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.80328 4.8e-5 -0.35798 0.30557 0.11953 0.10219 0.56247-0.48014-0.56202-0.47986-0.11965 0.10219 0.35798 0.30557h-0.80351z" stroke-width=".05195"></path></svg></i>
                    </div>
                </div>
            </div>
            {{ end }}
            <!-- Other Sectors End-->
        </div>
    </div>
</section>