{{$imagedomain := string .Site.Params.imagedomain }}
<style></style>
<section class="section_50-50-image-content-download mb-5">
    <div class="container bg-white">
        <!--<div class="row">
            <div class="col-12">
                <h2 class="h2-small text-invest-blue mt-0">{{ .Params.supportservices.heading }}</h2>
            </div>
        </div>-->
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="h2-small text-invest-blue mt-0">{{ .Params.supportservices.heading }}</h2>
                <ul>
                    {{ range .Params.supportservices.services }}
                    <li> {{ .service }}</li>
                    {{ end }}
                </ul>

            </div>

            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <img  loading="lazy" src="{{$imagedomain}}h_500,w_640/{{ .Params.supportservices.servicesimage}}" alt="">
            </div>
        </div>
    </div>
</section>