{{$imagedomain := string .Site.Params.imagedomain }}
<style></style>
<section class="section_50-50-image-content-download mb-5">
    <div class="container bg-white">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-small text-invest-blue mt-0">{{ .Params.supportservices.heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <ul>
                    {{ range .Params.supportservices.services }}
                    <li> {{ .service }}</li>
                    {{ end }}
                </ul>
                <div class="col-12 col-lg-6 offset-lg-1 order-lg-2 mb-4 mb-lg-0" style="overflow:hidden;">
                    <img style="object-fit:contain;height:100%" loading="lazy" src="{{ .Params.supportservices.servicesimage}}" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-5 offset-lg-1 end-card-wrapper position-relative d-flex flex-column justify-content-between findoutmore">
                                    <h3><a class="full-card-click arrow-link" href="/contact"><span class="first-line d-block fw-bold text-uppercase">Get in Touch</span><span class="d-block">Contact Invest Lincolnshire. We have experts waiting to help you.</span></a></h3>
                    <div class="btn-wrapper d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right"><svg fill="white" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                
            </div>
        </div>
    </div>
</section>