{{$imagedomain := string .Site.Params.imagedomain }}
<style></style>
<section class="section_services-block pt-4">
    <div class="container bg-white">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-small text-invest-blue mt-0">{{ .Params.supportservices.heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <ul>
                    {{ range .Params.supportservices.services }}
                    <li> {{ .service }}</li>
                    {{ end }}
                </ul>
                <div class="contact-block border-dark-blue mb-4 mb-lg-0 position-relative d-flex justify-content-between align-items-center">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-dark-blue">Contact us</h3>
                        <p class="m-0 text-invest-blue pe-4">to find out how we can support your
                            business relocation or expansion project.</p>
                    </div>
                    <div class="icon-wrapper">
                        <a class="full-card-click text-invest-blue" href="contact.html"><svg class="svgrightarrow" fill="#1c1434" width="29.143" height="14.996" version="1.1" viewBox="0 0 7.7107 3.9678" xmlns="http://www.w3.org/2000/svg"><g transform="rotate(-90 5.452 90.367)"><g transform="matrix(.16946 0 0 .16946 79.155 70.525)" fill-rule="evenodd" stroke-width="0"><rect x="84.407" y="84.914" width="4.4822" height="45.468" ry=".39148"></rect><rect transform="matrix(.91377 .40623 -.44166 .89718 0 0)" x="132.63" y="60.802" width="4.4431" height="22.565" ry=".19429"></rect><rect transform="matrix(-.91377 .40623 .44166 .89718 0 0)" x="-22.941" y="131.21" width="4.4431" height="22.565" ry=".19429"></rect></g></g></svg></a>
                    </div>
                </div>
            </div>
            <!--<div class="download-block border-sector-dark position-relative d-flex justify-content-between">
                <div class="content">
                    <h3 class="mt-0 mb-1 text-sector-dark">Contact Us</h3>
                    <p class="m-0 text-sector-mid">to find out how we can support your business relocation or expansion project.</p>
                </div>
                <div class="icon-wrapper mt-2">
                    <a class="full-card-click text-sector-mid" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"><svg class="svgdownarrow" width="19.111" height="30" fill="" version="1.1" viewBox="0 0 19.111 30" xmlns="http://www.w3.org/2000/svg"><path d="m19.013 17.489c-0.40757-0.6267-1.7823-0.01084-2.2641 0.56075l-6.0271 7.15v-23.7c0-0.9-0.44595-1.5-1.1149-1.5-0.66893 0-1.1149 0.6-1.1149 1.5v23.7l-6.0271-7.3c-0.47596-0.57648-1.8974-1.0301-2.3433-0.4301-0.44595 0.6 0.44804 2.0801 0.89399 2.6801l7.8109 9.4c0.11149 0.15 0.11149 0.15 0.22298 0.15 0.22298 0.3 0.44595 0.3 0.55744 0.3s0.33446 0 0.44595-0.15c0.11149 0 0.11149-0.15 0.22298-0.15l7.8109-9.4c0.52342-0.6299 1.3008-2.2349 0.92629-2.8108z" stroke-width="1.2932"></path></svg></i></a>
                </div>
            </div> -->
            <div class="col-12 col-lg-5 offset-lg-1">
                <div class="col-12 col-sm-6 col-lg-3 end-card-wrapper position-relative d-flex flex-column justify-content-between findoutmore">
                    <h3><a class="full-card-click arrow-link" href="/contact"><span class="first-line d-block fw-bold text-uppercase">Get in Touch</span><span class="d-block">Contact Invest Lincolnshire. We have experts waiting to help you.</span></a></h3>
                    <div class="btn-wrapper d-flex justify-content-end">
                        <i xxxclass="fa-sharp fa-regular fa-arrow-right"><svg fill="white" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>