{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_4-col-logos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-large text-dark-blue">{{ .Params.entrancesupport.heading}}</h2>
                <p>{{ .Params.entrancesupport.subheading}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- START support areas-->
            {{ range .Params.entrancesupport.areas }}
              <div class="col-6 col-lg-3 card-wrapper">
                  <div class="img-wrapper">
                      <img loading="lazy" src="{{$imagedomain}}w_90,h_90,c_fit/{{ .icon }}" alt="">
                  </div>
                  <div class="h3 text-center"><span class="d-block fw-bold">{{ .title }}</span><span class="d-block">{{ .description }}</span></div>
              </div>
            {{ end }}

            <!-- End Support Areas -->
            <div class="col-12 col-sm-6 col-lg-3 end-card-wrapper position-relative d-flex flex-column justify-content-between findoutmore">
                <h3><a class="full-card-click arrow-link" href="{{ .Params.entrancesupport.cta.destination }}"><span class="first-line d-block fw-bold text-uppercase">{{ .Params.entrancesupport.cta.title }}</span><span class="d-block">{{ .Params.entrancesupport.cta.blurb }}</span></a></h3>
                <div class="btn-wrapper d-flex justify-content-end">
                    <i xxxclass="fa-sharp fa-regular fa-arrow-right"><svg fill="white" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"></path></svg></i>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-primary mt-4" href="#">Contact Invest Lincolnshire <i xxxclass="fa-sharp fa-regular fa-arrow-right ms-3"><svg fill="#ffffff" width="26.5px" height="30px" viewBox="0 0 32 24" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"/></svg></i></a>
            </div>
        </div>
    </div>
</section>