{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_articles-preview">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-small text-dark-blue mb-4 text-center">{{ .Params.articles.heading }}</h2>
            </div>
        </div>
        <div class="row">


           
            {{ range first 3 (where .Site.Pages "Type" "article") }}
            <div class="col-12 col-lg-4 position-relative">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src={{ replace .Params.image "upload/" "upload/w_416,f_auto,q_auto/"}} alt="">
                    </div>
                    <div class="card-body">
                        <p class="text-sector-mid"><small>{{ .Params.sector }}</small></p>
                        <h2><a class="full-card-click arrow-link text-sector-mid text-decoration-none" href="{{.Permalink }}">{{ .Params.title}}</a></h2>
                        <div>{{ .Summary | truncate 200 }}</div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i class="fa-sharp fa-regular fa-arrow-right text-sector-mid"></i>
                    </div>
                </div>
            </div>
           {{ end }}


        </div>
        <div class="row">
            <div class="col-12">
                <a href="./articles" class="btn btn-mid text-center bg-sector-mid">View all articles</a>
            </div>
        </div>
    </div>
</section>