{{ $imagedomain := string .Site.Params.imagedomain }}
{{ $licolour := string .Params.sectorCTA.contentscolour }}
<section class="section_get-data-form bg-sector-{{ .Params.sectorCTA.bgcolor }}" id="get-data-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="h2-large text-sector-{{ .Params.sectorCTA.headingcolor }} text-center">{{ .Params.sectorCTA.heading }}</h2>
                <p class="{{ .Params.sectorCTA.contentscolour }} text-center p-large">{{ .Params.sectorCTA.lead }}</p>
            </div>
            <div class="col-12 col-lg-12">
                <form action="/{{ .Params.sectorCTA.formhandler }}" method="post" class="d-flex flex-column align-items-center justify-content-center">
                    <div class="form-content-wrapper d-lg-flex">
                        <div class="col-12 col-lg-4 d-flex d-lg-block justify-content-center">
                            <style>main ul:not(.pagination) li::marker {content: "▷";font-family:system-ui;}</style>
                            <ul>
                                {{ range .Params.sectorCTA.brochurecontents}}
                                   <li class="{{ $licolour }}">{{ .highlight }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="fields">
                                <div class="field-wrapper">
                                    <!-- <label for="full-name">Name</label>-->
                                    <input type="text" id="name" name="name" required="" placeholder="Name">
                                </div>
                                <div class="field-wrapper">
                                    <!-- <label for="email-address">Email</label>-->
                                    <input type="email" id="email" name="email" required="" placeholder="Email">
                                </div>
                                <div class="field-wrapper">
                                    <label class="checkbox-label" for="privacy-policy">I agree to the <a href="#">privacy policy</a>.
                                        <input type="checkbox" id="privacy-policy" name="privacy-policy" required="">
                                        <span class="checkmark"></span>
                                    </label>
                                    <p><small>The data you submit here will only be used in relation to your enquiry. By submitting any enquires via this part of the website you are granting us permission to store and process your data as according to our privacy policy. Your information will never be sold on to any third parties.</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center">
                            <div class="img-wrapper">
                                <img loading="lazy" src="{{ $imagedomain }}{{ .Params.sectorCTA.image }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="field-wrapper d-flex flex-column align-items-center">
                      {{range .Params.sectorCTA.hiddenformfields }}
                        <input type="hidden" id="{{ .field }}" name="{{ .field }}" value="{{ .value }}">
                      {{ end }}
                        <button class="btn btn-submit" type="submit">Submit to Download<i class="fa-sharp fa-regular fa-arrow-right ms-4"><svg width="16" height="16" fill="#ffffff" version="1.1" viewBox="0 0 .96 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.68407 4.8e-5 -0.30485 0.30557 0.10179 0.10219 0.47899-0.48014-0.47861-0.47986-0.10189 0.10219 0.30485 0.30557h-0.68426z" stroke-width=".04794"></path></svg></i></button>
                    </div>

                </form>

               

                <div class="img-wrapper">
                    <img src="{{ $imagedomain }}{{ .Params.sectorCTA.footerimg }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>