{{ $imagedomain := string .Site.Params.imagedomain }}
{{ $licolour := string .Params.sectorCTA.contentscolour }}
<section class="section_get-data-form bg-sector-{{ .Params.sectorCTA.bgcolor }}" id="get-data-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="h2-large text-sector-{{ .Params.sectorCTA.headingcolor }} text-center">{{ .Params.sectorCTA.heading }}</h2>
                <p class="{{ .Params.sectorCTA.contentscolour }} text-center p-large">{{ .Params.sectorCTA.lead }}</p>
            </div>
            <div class="col-12 col-lg-12">
                    <div class="form-content-wrapper d-lg-flex">
                        <div class="col-12 col-lg-4 d-flex d-lg-block justify-content-center">
                            <style>main ul:not(.pagination) li::marker {content: "▷";font-family:system-ui;}</style>
                            <ul>
                                {{ range .Params.sectorCTA.brochurecontents}}
                                   <li class="{{ $licolour }}">{{ .highlight }}</li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center">
                        <div class="img-wrapper">
                            <img loading="lazy" src={{ replace .Params.sectorCTA.image "upload/" "upload/c_fill,h_350,w_650,f_auto,q_auto/"}} alt="">
                            <a href="https://investlincolnshire.co.uk/brochures" style="text-decoration: none;">
                        <button class="btn btn-submit mt-3" type="submit">Download Brochure<i class="xfa-sharp xfa-regular xfa-arrow-right ms-4"><svg width="16" height="16" fill="#fff" viewBox="0 0 .96 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 .55219.68407 48e-6-.30485.30557.10179.10219L.96.479858l-.47861-.47986-.10189.10219.30485.30557h-.68426z" stroke-width=".04794"></path></svg></i></button></a>
                        </div></div>
                    </div>
                <div class="img-wrapper">
                    <img src={{ replace .Params.sectorCTA.footerimg "upload/" "upload/w_1296,f_auto,q_auto/"}} alt="">
                </div>
            </div>
        </div>
    </div>
</section>