<section class="section_get-data-form bg-sector-dark pt-5" id="get-data-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="img-wrapper pb-5">
                    <img loading="lazy" src="/images/agrifood-brochure.png" alt="">
                </div>
                <h2 class="h2-large text-sector-light text-center">Get the Data on Lincolnshire as an Agrifood Business Location</h2>
                <p class="text-white text-center">Lincolnshire’s agrifood sector Business Location Guide provides essential information and data for companies researching and evaluation Lincolnshire as a potential investment location, including:</p>

                <form class="d-flex flex-column align-items-center justify-content-center">
                    <div class="form-content-wrapper d-lg-flex">
                        <ul>
                            <li>The market opportunity</li>
                            <li>Industry clusters</li>
                            <li>Research &amp; technology</li>
                            <li>Workforce, education &amp; skills</li>
                            <li>Sites and properties</li>
                            <li>UK and global market access</li>
                            <li>Location &amp; sector data sets</li>
                            <li>Support for investing businesses</li>
                        </ul>

                        <div class="fields">
                            <div class="field-wrapper">
                                <!--                                <label for="full-name">Name</label>-->
                                <input type="text" id="full-name" name="full-name" required="" placeholder="Name">
                            </div>
                            <div class="field-wrapper">
                                <!--                                <label for="email-address">Email</label>-->
                                <input type="email" id="email-address" name="email-address" required="" placeholder="Email">
                            </div>
                            <div class="field-wrapper">
                                <label class="checkbox-label" for="privacy-policy">I agree to the <a href="#">privacy policy</a>.
                                    <input type="checkbox" id="privacy-policy" name="privacy-policy" required="">
                                    <span class="checkmark"></span>
                                </label>
                                <p><small>The data you submit here will only be used in relation to your enquiry. By submitting any enquires via this part of the website you are granting us permission to store and process your data as according to our privacy policy. Your information will never be sold on to any third parties.</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <button class="btn btn-submit" type="submit">Submit<i class="fa-sharp fa-regular fa-arrow-right ms-4"></i></button>
                        <button class="btn btn-submit" type="button" disabled="">
                            Submit
                            <span class="spinner-border spinner-border-sm ms-5" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-submit" type="button">Download<i class="fa-sharp fa-regular fa-arrow-down-to-bracket ms-3"></i></button>
                    </div>

                </form>

                <p class="text-white text-center mb-0">Interested in other sectors? <a class="other-brochures text-white" href="#">View our other brochures</a></p>

                <div class="img-wrapper">
                    <img src="/images/green-half-grad.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>