{{$imagedomain := string .Site.Params.imagedomain }}
<div class="container">
<div class="row">
{{ range sort .Params.locations.items "Name" "asc" }}
  {{ if .display }}
        <div class="col-12 col-lg-6 card-wrapper">
          <a href="{{ .pdf }}" target="_blank">
            <div class="card shadow">
                <div class="card-header {{ .clr }}">
                    <img src="{{ .Thumbnail }}" alt="{{ .Name }}">
                </div>
                <div class="card-body justify-content-between">
                    <h2 class="m-0 text-green">{{ .Name }}</h2>
                    <h5 class="download">Download</h5>

                    <!--<div class="field-wrapper brochure-checkbox d-flex align-items-end"> 
                        
                    </div>-->
                </div>
            </div>
          </a>
        </div>
  {{ end }}
{{ end }}
</div>
</div>

