{{$imagedomain := string .Site.Params.imagedomain }}

<style>
.section_header-50-50{
  background-color: #2D3137;
  padding: 0;
}
  h1.text-sector-mid, .p-large{
    color: #ffffff;
  }
.section_header-50-50 .img-wrapper img {
  width:98vw;
  object-fit: fill;
}
  .bgblack{
    background-color: #2D3137;
    padding:0;
  }
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
    .mt-sm-5{
        margin-top:0 !important;
    }
.herotext{
    z-index:999;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  padding-bottom: 2rem;
  color: white;
  h1{
    color: white;
    font-size: clamp(2.5rem, 8vw, 6rem);
    line-height: 1.1;
    letter-spacing: clamp(0.2rem, 1vw, 1.5rem);
  }
}
.heroimg{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit:contain;
  height:100%";
   img{width: auto;}
  
}
.downloads{
  padding-top: 5rem;
}
.card-header img{
 width:100%;
}
a{
  text-decoration: none;
}
.card-body h2{
  font-size: 1.25rem;
  text-align: center;
}
.download{
  text-align: center;
  color: #0a58ca;
}
.download:hover{
  color: #073d8f;
}

</style>

<!--<section class="section_header-50-50 bgblack">
    <div class="container">
        <div class="parent">
            <div class="herotext ">
                <h1 class="">{{ .Params.hero.heading }}</h1>
                <div class="p-large">{{ .Params.hero.blurb }}</div>
            </div>
            <div class="heroimg">
                <div class="img-wrapper pl10">
                    <img src="{{ .Params.hero.heroImg }}" alt="Sector image">
                </div>
            </div>

        </div>
    </div>
</section> -->
<div class="container downloads">
<div class="row">
  {{ with .Params.locations.map }}
    {{ if .display }}
        <div class="col-12 col-lg-4 card-wrapper">
          <a href="{{ .pdf }}" target="_blank">
            <div class="card shadow">
                <div class="card-header {{ .clr }}">
                    <img src="{{ .Thumbnail }}" alt="{{ .Name }}">
                </div>
                <div class="card-body justify-content-between">
                    <h2 class="m-0 text-green">{{ .Name }}</h2>
                    <h5 class="download">Download</h5>
                </div>
            </div>
          </a>
        </div>
    {{ end }}
  {{ end }}
{{ range sort .Params.locations.items "Name" "asc" }}
  {{ if .display }}
        <div class="col-12 col-lg-4 card-wrapper">
          <a href="{{ .pdf }}" target="_blank">
            <div class="card shadow">
                <div class="card-header {{ .clr }}">
                    <img src="{{ .Thumbnail }}" alt="{{ .Name }}">
                </div>
                <div class="card-body justify-content-between">
                    <h2 class="m-0 text-green">{{ .Name }}</h2>
                    <h5 class="download">Download</h5>

                    <!--<div class="field-wrapper brochure-checkbox d-flex align-items-end"> 
                        
                    </div>-->
                </div>
            </div>
          </a>
        </div>
  {{ end }}
{{ end }}
</div>
</div>

