<section class="section_logo-grid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-small text-dark-blue text-center">Home to Leading Agrifood Businesses</h2>
                <p class="text-center">Businesses established in Lincolnshire’s agrifood sector include:</p>
            </div>
        </div>
        <div class="row logo-slider slick-initialized slick-slider slick-dotted"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6600px; transform: translate3d(-1320px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/owr-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/thorvald-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/gea-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/myenergy-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/fliegl-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/grimme-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/bright-lite-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/shd-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide00" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper d-flex justify-content-center align-items-center">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/bae-systems-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/teledyne-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" role="tabpanel" id="slick-slide01" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/rfmw-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/raytheon-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel" id="slick-slide02" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/collins-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/dynex-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" role="tabpanel" id="slick-slide03" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/siemens-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="0"><img loading="lazy" src="/images/autocraft-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide04" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/owr-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/thorvald-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide05" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/gea-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/myenergy-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide06" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/fliegl-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/grimme-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide07" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/bright-lite-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/shd-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper d-flex justify-content-center align-items-center">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/bae-systems-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/teledyne-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/rfmw-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/raytheon-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/collins-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/dynex-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/siemens-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/autocraft-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/owr-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/thorvald-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/gea-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/myenergy-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/fliegl-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/grimme-logo.png" alt=""></a>
                </div>
            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" tabindex="-1" style="width: 330px;"><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/bright-lite-logo.png" alt=""></a>
                </div>
            </div></div><div><div class="col-6 col-lg-3" style="width: 100%; display: inline-block;">
                <div class="logo-wrapper">
                    <a href="#" tabindex="-1"><img loading="lazy" src="/images/shd-logo.png" alt=""></a>
                </div>
            </div></div></div></div></div><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide04" aria-label="2 of 2" tabindex="-1">2</button></li></ul></div>
    </div>
</section>