{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_list-and-stats mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 pe-3 pe-lg-0">
                <h2 class="h2-small text-sector-mid">{{ .Params.marketopportunity.heading }}</h2>
                <p class="lead-text text-sector-dark p-large">{{ .Params.marketopportunity.lead | markdownify }}</p>

                <ul>
                    {{range .Params.marketopportunity.benefits }}
                    <li><span class="text-sector-mid">{{ .benefit }}</span> {{ .feature }}</li>
                    {{ end }}
                </ul>

                <div class="download-block border-sector-dark position-relative d-flex justify-content-between">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-sector-dark">Find out more</h3>
                        <p class="m-0 text-sector-mid">{{ .Params.marketopportunity.ctatext }}</p>
                    </div>
                    <div class="icon-wrapper mt-2">
                        <a class="full-card-click text-sector-mid" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"><svg class="svgdownarrow" width="19.111" height="30" version="1.1" viewBox="0 0 19.111 30" xmlns="http://www.w3.org/2000/svg"><path d="m19.013 17.489c-0.40757-0.6267-1.7823-0.01084-2.2641 0.56075l-6.0271 7.15v-23.7c0-0.9-0.44595-1.5-1.1149-1.5-0.66893 0-1.1149 0.6-1.1149 1.5v23.7l-6.0271-7.3c-0.47596-0.57648-1.8974-1.0301-2.3433-0.4301-0.44595 0.6 0.44804 2.0801 0.89399 2.6801l7.8109 9.4c0.11149 0.15 0.11149 0.15 0.22298 0.15 0.22298 0.3 0.44595 0.3 0.55744 0.3s0.33446 0 0.44595-0.15c0.11149 0 0.11149-0.15 0.22298-0.15l7.8109-9.4c0.52342-0.6299 1.3008-2.2349 0.92629-2.8108z" stroke-width="1.2932"/></svg></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-7 d-flex align-items-center mt-4 mt-lg-0">
                <div class="row justify-content-center align-items-center stats-blocks">

                    {{$len := len .Params.marketopportunity.stats }} 
                    {{range $index, $element := .Params.marketopportunity.stats}}
                    {{ if and (eq (add $index 1) $len ) (not (modBool (add $index 1) 2)) }}
                      <div class="stat-block stat-consumers col-8 col-lg-6 offset-lg-3 bg-sector-{{ .clrscheme }}">
                    {{ else}}
                      <div class="stat-block stat-consumers col-8 col-lg-5 bg-sector-{{ .clrscheme }}">
                    {{ end }}
                        <p class="label text-{{ .textcolor }}">{{ .name }}</p>
                        <hr class="text-{{ .textcolor }}">
                        <p class="stat text-{{ .textcolor }}"><span>{{ .size | safeHTML }}</span><span>{{ .measure | safeHTML }}</span><span>{{ .when | safeHTML }}</span></p>
                      </div>
                    {{ end }}
                    </div>
                </div>
        </div>
    </div>
</section>