<section class="section_list-and-stats mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 pe-3 pe-lg-0">
                <h2 class="h2-small text-sector-mid">The UK Agrifood Market Opportunity</h2>
                <p class="lead-text text-sector-dark">The UK’s agrifood sector presents a range of opportunities for business investment, growth and reshoring. Key drivers include:</p>

                <ul>
                    <li><span class="text-sector-mid">67.5 million UK consumers</span> spending £254 billion annually on food and drink</li>
                    <li><span class="text-sector-mid">Reduced integration</span> with EU supply chains (post-Brexit)</li>
                    <li><span class="text-sector-mid">Renewed focus on food security</span> (post-Covid-19 and recent conflicts)</li>
                    <li><span class="text-sector-mid">Plans for sustainable, net-zero carbon food chains</span></li>
                    <li><span class="text-sector-mid">Productivity goals and workforce constraints</span> (a global agrifood industry challenge) driving demand for new technologies</li>
                    <li><span class="text-sector-mid">Growing UK demand</span> for added-value premium and niche products such as vegan, organic, more nutritious and ‘free-from’ foods</li>
                </ul>

                <div class="download-block border-sector-dark position-relative d-flex justify-content-between">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-sector-dark">Find out more</h3>
                        <p class="m-0 text-sector-mid">about the UK agrifood market opportunity</p>
                    </div>
                    <div class="icon-wrapper mt-2">
                        <a class="full-card-click text-sector-mid" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 d-flex align-items-center mt-4 mt-lg-0">
                <div class="row justify-content-center align-items-center stats-blocks">
                    <div class="stat-block stat-consumers col-8 col-lg-5 bg-sector-light">
                        <p class="label text-sector-dark">UK Consumers</p>
                        <hr class="text-sector-dark">
                        <p class="stat text-sector-dark"><span>67.5</span><span>million</span></p>
                    </div>
                    <div class="stat-block stat-value col-8 col-lg-5 bg-sector-mid">
                        <p class="label text-white">UK Market Value</p>
                        <hr class="text-white">
                        <p class="stat text-white"><span>£254</span><span>billion P.A.</span></p>
                    </div>
                    <div class="stat-block stat-growth col-8 col-lg-5 bg-sector-dark">
                        <p class="label text-white">UK Market Growth</p>
                        <hr class="text-white">
                        <p class="stat text-white"><span>+37%</span><span>2010-2019</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>