{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_list-and-stats mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 pe-3 pe-lg-0">
                <h2 class="h2-small text-sector-mid">{{ .Params.marketopportunity.heading }}</h2>
                <p class="lead-text text-sector-dark">{{ .Params.marketopportunity.lead }}</p>

                <ul>
                    {{range .Params.marketopportunity.benefits }}
                    <li><span class="text-sector-mid">{{ .benefit }}</span> {{ .feature }}</li>
                    {{ end }}
                </ul>

                <div class="download-block border-sector-dark position-relative d-flex justify-content-between">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-sector-dark">Find out more</h3>
                        <p class="m-0 text-sector-mid">{{ .Params.marketopportunity.ctatext }}</p>
                    </div>
                    <div class="icon-wrapper mt-2">
                        <a class="full-card-click text-sector-mid" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-7 d-flex align-items-center mt-4 mt-lg-0">
                <div class="row justify-content-center align-items-center stats-blocks">

                    {{$len := len .Params.marketopportunity.stats }}    <!-- len .Params.investmentopportunity.offer -->
                    {{range $index, $element := .Params.marketopportunity.stats}}
                    {{ if and (eq (add $index 1) $len ) (not (modBool (add $index 1) 2)) }}
                    <div class="stat-block stat-consumers col-8 col-lg-6 offset-lg-3 bg-sector-{{ .clrscheme }}">
                    {{ else}}
                    <div class="stat-block stat-consumers col-8 col-lg-5 bg-sector-{{ .clrscheme }}">
                    {{ end }}
                        <p class="label text-sector-{{ .clrscheme }}">{{ .name }}</p>
                        <hr class="text-sector-{{ .clrscheme }}">
                        <p class="stat text-sector-{{ .clrscheme }}"><span>{{ .size }}</span><span>{{ .measure }}</span></p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>