<section class="section_50-50-image-content-download mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-lg-1 mb-4 mb-lg-0">
                <div class="img-wrapper">
                    <img loading="lazy" src="/images/factory.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1 order-lg-2">
                <h2 class="h2-small text-sector-mid mt-0">UK-leading Agrifood Industry Clusters and Supply Chains</h2>
                <p class="lead-text text-sector-dark">Lincolnshire is a major contributor to the UK agrifood sector, accounting for 11% of England’s food production and 25% of grade 1 arable land.</p>
                <p>Lincolnshire is home to UK-leading industry clusters across the food value chain, from agriculture to food manufacturing, advanced agricultural and food technologies, and food logistics.<br><br>
                    For investing agrifood businesses, this means access to the expertise, skills, supply chains and supporting infrastructure required to reduce investment project costs, risks and timeframes, and to support ongoing growth, R&amp;D and innovation.</p>

                <div class="download-block border-sector-dark position-relative d-flex justify-content-between">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-sector-dark">Find out more</h3>
                        <p class="m-0 text-sector-mid">about Lincolnshire’s Agrifood industry clusters</p>
                    </div>
                    <div class="icon-wrapper mt-2">
                        <a class="full-card-click text-sector-mid" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>