{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_list-and-stats mb-5">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10">
                <h2 class="h2-large text-dark-blue">{{ .Params.roboticsstory.heading}}</h2>
                <div class="p-large">{{ .Params.roboticsstory.intro | markdownify }}</div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="offset-lg-1 col-lg-10">
            {{ .Params.roboticsstory.body | markdownify }}
            </div>
    </div>
</section>