{{$imagedomain := string .Site.Params.imagedomain }}
<section class="section_full-width-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pe-5">
                <h2 class="h2-small text-white">Support for Your Agrifood Sector Business Investment</h2>
                <p>Working together, Invest Lincolnshire and our partner organisations, including local authorities, education providers and businesses, provide dedicated support to ensure a ‘soft landing’ for companies locating and investing in Lincolnshire.</p>

                <div class="download-block border-sector-light position-relative d-flex justify-content-between">
                    <div class="content">
                        <h3 class="mt-0 mb-1 text-sector-light">Find out more</h3>
                        <p class="m-0">about support for investing businesses from Invest Lincolnshire</p>
                    </div>
                    <div class="icon-wrapper mt-1 ps-2">
                        <a class="full-card-click text-sector-light" href="#get-data-form"><i class="fa-sharp fa-regular fa-arrow-down-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="img-wrapper">
                    <img loading="lazy" src="/images/green-grad.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>