{{ define "main" }}

<!-- header -->

<main id="main">

    <section class="section_header-50-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 pe-lg-5 d-flex flex-column justify-content-center">
                    <h1>Brochure Request</h1>
                    <p>We have received your request for brochures. An email has been sent to <span class="requestoremail">your email address</span> The email contains links for you to download the brochures you requested.</p>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="img-wrapper">
                        <img src="{{ .Site.Params.imagedomain }}red-grad.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ with site.GetPage "home" }}
    {{ partial "entrance/growthsectors.html" . }}
    {{ end }}

</main>

<!-- footer -->

{{ end }}