{{ define "content" }}

<!-- header -->

<main id="main">

    <section class="section_header-50-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 pe-lg-5 d-flex flex-column justify-content-center">
                    <h1>Get in Touch</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="img-wrapper">
                        <img src="/images/red-grad.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_contact-form">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 mb-4 mb-lg-0">
                    <form>
                        <div class="field-wrapper">
                            <label for="full-name">Name<span>*</span></label>
                            <input type="text" id="full-name" name="full-name" required>
                        </div>
                        <div class="field-wrapper">
                            <label for="phone-no">Phone</label>
                            <input type="text" id="phone-no" name="phone-no">
                        </div>
                        <div class="field-wrapper">
                            <label for="email-address">Email<span>*</span></label>
                            <input type="email" id="email-address" name="email-address" required>
                        </div>
                        <div class="field-wrapper">
                            <label for="message">Enquiry<span>*</span></label>
                            <textarea id="message" name="message" required></textarea>
                        </div>
                        <div class="field-wrapper">
                            <label class="checkbox-label" for="privacy-policy">I agree to the <a href="#">privacy policy</a>.
                                <input type="checkbox" id="privacy-policy" name="privacy-policy" required>
                                <span class="checkmark"></span>
                            </label>
                            <p><small>The data you submit here will only be used in relation to your enquiry. By submitting any enquires via this part of the website you are granting us permission to store and process your data as according to our privacy policy. Your information will never be sold on to any third parties.</small></p>
                        </div>
                        <div class="field-wrapper">
                            <input class="btn btn-submit" type="submit" value="Send Message">
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1">
                    <div class="contact-details">
                        <div class="d-flex">
                            <i class="fa-light fa-envelope"></i>
                            <a class="ms-4" href="mailto:">info@xxxxxxx.co.uk</a>
                        </div>

                        <hr>

                        <p><span class="fw-bold">Greater Lincolnshire LEP</span><br>
                            Lincolnshire County Council<br>
                            Council Offices<br>
                            Newland<br>
                            Lincoln<br>
                            LN1 1YL
                        </p>

                        <div class="social-icons d-flex">
                            <a class="me-4" href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="me-4" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a class="me-4" href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

<!-- footer -->

{{ end }}