{{ define "main" }}
<main id="main" class="sector_{{ .Params.sector}}">
    {{ if .Params.hero.display }}
       {{ partial "hero.html" . }}
    {{ end }}
    {{ if .Params.investmentopportunity.display }}
       {{ partial "mainsectors/investmentopportunity.html" . }}
    {{ end }}
    {{ if .Params.offerfeatures.display }}
       {{ partial "mainsectors/offerfeatures.html" . }}
    {{ end }}
    {{ if .Params.articles.display }}
       {{ partial "mainsectors/articles.html" . }}
    {{ end }}
    {{ if .Params.sectorCTA.display }}
       {{ partial "mainsectors/cta.html" . }}
    {{ end }} 
   </main>   
{{ end }}