{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<main id="main" class="sector_{{ .Params.sector}}">
    <style>.sector-mid{color: var(--sector-{{ .Params.sector }}-mid);}.sector-dark{color: var(--sector-{{ .Params.sector }}-dark);}</style>
<section class="section_article-header mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="sector text-sector-mid">{{ .Params.sector}}</p>
                <h1 class="text-sector-mid">{{ .Params.title}}</h1>

                <div class="img-wrapper">
                    <img src="{{$imagedomain}}w_1200/{{ .Params.image}}" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_article-text">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="text-dark-blue mb-5 contentblock">{{ .Content | safeHTML }}
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{{ end }}
