{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<section class="blog-post mb-5 sector_{{ .Params.sector }}">
    <style>h3{ font-size: 1.875rem; line-height: 2.5rem;color:#009e7f;}</style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img loading="lazy" src="{{$imagedomain}}w_1200/{{ .Params.image}}" />
            </div>
        </div>
            <div class="col-12">
                <h2 class="h2-large text-dark-blue">{{ .Params.title}}</h2>
                <div class="p-large">{{ .Params.intro | markdownify }}</div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-12">
            {{ .Content }}
            </div>
    </div>
</section>
{{ end }}