{{$imagedomain := string .Site.Params.imagedomain }}

<div class="container">
    <div class="row">
       
        {{ range .Params.brochurechoice.brochures}}
        <div class="col-12 col-lg-3 card-wrapper">
            <div class="card shadow">
                <div class="card-header {{ .clr }}">
                    <img loading="lazy" src="{{ $imagedomain }}{{ .image }}" alt="">
                </div>
                <div class="card-body d-flex justify-content-between">
                    <h2 class="m-0 text-green">{{ .title }}</h2>

                    <div class="field-wrapper brochure-checkbox d-flex align-items-end">
                        <label class="checkbox-label" for="{{ .url }}">
                            <input class="brochure-checkbox" type="checkbox" name="brochure" id="{{ .url }}" value="{{ .url }}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
      
        <input class="btn btn-submit" type="submit" value="Send Brochure Download Request">


    </div>
</div>
