{{$imagedomain := string .Site.Params.imagedomain }}
<div class="container">
    <div class="row">
        {{ range .Params.brochurechoice.brochures}}
        <div class="col-12 col-lg-3 card-wrapper">
            <div class="card shadow">
                <div class="card-header {{ .clr }}">
                    <img loading="lazy" src="{{ $imagedomain }}{{ .mage }}" alt="">
                </div>
                <div class="card-body d-flex justify-content-between">
                    <h2 class="m-0 text-green">{{ .title }}</h2>

                    <div class="field-wrapper brochure-checkbox d-flex align-items-end">
                        <label class="checkbox-label" for="agrifood-brochure">
                            <input class="brochure-checkbox" type="checkbox" id="agrifood-brochure" name="agrifood-brochure" data-file="{{ .url }}.pdf">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}



        <div class="col-12 col-lg-6">
            <form>
                <div class="field-wrapper">
                    <!--                                <label for="full-name">Name</label>-->
                    <input type="text" id="full-name" name="full-name" required="" placeholder="Name">
                </div>
                <div class="field-wrapper">
                    <!--                                <label for="email-address">Email</label>-->
                    <input type="email" id="email-address" name="email-address" required="" placeholder="Email">
                </div>
                <div class="field-wrapper">
                    <label class="checkbox-label" for="privacy-policy">I agree to the <a href="#">privacy policy</a>.
                        <input type="checkbox" id="privacy-policy" name="privacy-policy" required="">
                        <span class="checkmark"></span>
                    </label>
                    <p><small>The data you submit here will only be used in relation to your enquiry. By submitting any enquires via this part of the website you are granting us permission to store and process your data as according to our privacy policy. Your information will never be sold on to any third parties.</small></p>
                </div>
                <div class="field-wrapper">
                    <button class="btn btn-submit brochure-submit" type="submit">Submit</button>
                    <button class="btn btn-submit brochure-submit" type="button" disabled="">
                        Submit
                        <span class="spinner-border spinner-border-sm ms-5" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-submit brochure-submit" type="button">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>