<div class="container">
    <div class="row">

        <div class="col-12">

            <div class="d-flex justify-content-between">
                <ul class="footer-nav fn-large d-block d-lg-flex">
                    <li><a href="#">Support Services</a></li>
                    <li><a href="#">Growth Sectors</a></li>
                    <li><a href="#">Living & Working</a></li>
                    <li><a href="#">Location & Connectivity</a></li>
                </ul>

                <div class="d-flex">
                    <div class="icon-wrapper me-3">
                        <a href="#"><p class="sr-only">LinkedIn</p><i xxxclass="fa-brands fa-linkedin-in"><svg width="20" height="20" version="1.1" viewBox="0 0 .5 .5" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><g transform="scale(.025)" fill="none" fill-rule="evenodd"><g id="DLP" transform="translate(-180,-7479)" fill="#fff"><g id="icons" transform="translate(56,160)"><path id="linkedin-[#161]" d="m144 7339h-4v-6.999c0-1.92-0.847-2.991-2.366-2.991-1.653 0-2.634 1.116-2.634 2.991v6.999h-4v-13h4v1.462s1.255-2.202 4.083-2.202c2.829 0 4.917 1.726 4.917 5.298zm-17.558-15.079c-1.349 0-2.442-1.102-2.442-2.461 0-1.358 1.093-2.46 2.442-2.46 1.348 0 2.441 1.102 2.441 2.46 1e-3 1.359-1.093 2.461-2.441 2.461zm-2.442 15.079h5v-13h-5z"></path></g></g></g>&gt;</svg></i></a>
                        <a href="#"><p class="sr-only">X (Twitter)</p><i xxxclass="fa-brands fa-x-twitter"><svg width="20" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="m15.802 0h3.0656l-6.7313 7.6386 7.8639 10.361h-6.1712l-4.8317-6.2966-5.5314 6.2966h-3.0656l7.1306-8.1699-7.5306-9.8299h6.3245l4.3652 5.752zm-1.073 16.207h1.6995l-10.997-14.48h-1.8261z" fill="#fff" stroke-width=".099799"></path></svg></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <ul class="footer-nav fn-small d-block d-lg-flex">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="https://www.optimadesign.co.uk/?utm_source=invest_lincolnshire+Website&utm_medium=Referral&utm_campaign=Website+by" target="_blank">Web design by Optima</a></li>
            </ul>
        </div>

        <div class="col-12">
            <p><small>Greater Lincolnshire Local Enterprise Partnership - Greater Lincolnshire LEP Unit 4, Witham Park House, Waterside South, Lincoln, LN5 7JN</small></p>
            <p><small>Copyright © 2024 Invest Lincolnshire</small></p>
        </div>

    </div>
</div>
<script src="js/sectordropdown.min.js"></script>
