<div class="container">
    <div class="row">

        <div class="col-12">

            <div class="d-flex justify-content-between">
                <ul class="footer-nav fn-large d-block d-lg-flex">
                    <li><a href="#">Support Services</a></li>
                    <li><a href="#">Growth Sectors</a></li>
                    <li><a href="#">Living & Working</a></li>
                    <li><a href="#">Location & Connectivity</a></li>
                </ul>

                <div class="d-flex">
                    <div class="icon-wrapper me-3">
                        <a href="#"><p class="sr-only">LinkedIn</p><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><p class="sr-only">X (Twitter)</p><i class="fa-brands fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12">
            <ul class="footer-nav fn-small d-block d-lg-flex">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="https://www.optimadesign.co.uk/?utm_source=invest_lincolnshire+Website&utm_medium=Referral&utm_campaign=Website+by" target="_blank">Web design by Optima</a></li>
            </ul>
        </div>

        <div class="col-12">
            <p><small>Greater Lincolnshire Local Enterprise Partnership - Greater Lincolnshire LEP Unit 4, Witham Park House, Waterside South, Lincoln, LN5 7JN</small></p>
            <p><small>Copyright © 2024 Invest Lincolnshire</small></p>
        </div>

    </div>
</div>
