    <link rel="preload" href="https://res.cloudinary.com/lincs/raw/upload/JosefinSans-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="https://res.cloudinary.com/lincs/raw/upload/Montserrat-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" as="script" href="js/sectordropdown.min.js">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Params.title }}</title>

    <meta name="description" content="{{ .Params.seoDescription}}">

    <!-- Open Graph -->
    <meta property='og:title' content="{{ .Params.title }}">
    <meta property="og:description" content="{{ .Params.seoDescription }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.Params.imagedomain }}{{ .Params.socialImage }}">

    <!-- Twitter Card -->
    <meta property="twitter:title" content="{{ .Params.title }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:description" content="{{ .Params.seoDescription }}">
    <meta property="twitter:image" content="{{ .Site.Params.imagedomain }}{{ .Params.socialImage }}">
     {{ partial "head/css.html" . }}


