<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container align-items-end">

        <a class="navbar-brand" href="/">
            <img src="{{ .Site.Params.imagedomain }}w_150,h_113/invest-lincs-logo.png" alt="Invest Lincolnshire">
        </a>

        <button class="navbar-toggler" onclick="openmm()" aria-label="Toggle navigation">
            <span class="toggle-icon"><p class="sr-only">Menu</p><i xxxclass="fa-sharp fa-regular fa-bars"><svg width="30px" height="37.5px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect width="16" height="16" id="icon-bound" fill="none"></rect><path fill="#27357e" d="M1,9h14V7H1V9z M1,14h14v-2H1V14z M1,2v2h14V2H1z"></path></svg></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="pt-3 pt-lg-0 w-100 d-flex flex-column justify-content-end align-items-start align-items-lg-end">
                <span class="contact-wrapper"><a link="{{.Site.Params.contactdomain }}contact/" href="{{absURL "contact"}}" class="nav-link contact-link">Contact Us <i xxxclass="fa-sharp fa-solid fa-arrow-right"><svg width="12" height="12" fill="#ffffff" version="1.1" viewBox="0 0 .96 .96" xmlns="http://www.w3.org/2000/svg"><path d="m0 0.55219 0.68407 4.8e-5 -0.30485 0.30557 0.10179 0.10219 0.47899-0.48014-0.47861-0.47986-0.10189 0.10219 0.30485 0.30557h-0.68426z" stroke-width=".04794"></path></svg></i></a></span>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support Services</a>
                    </li>
                    <li class="nav-item dropdown sectors">
                        <a class="nav-link dropdown-toggle" href="#" onclick="dodd()">
                            Growth Sectors
                        </a>
                        <div class="dropdown-menu" id="sector-dropdown">
                            <a class="dropdown-item" href="#">Advanced Engineering &amp; Manufacturing</a>
                            <a class="dropdown-item" href="#">Agrifood</a>
                            <a class="dropdown-item" href="#">Defence &amp; Security</a>
                            <a class="dropdown-item" href="#">Logistics</a>

                        </div>
                    </li>
                    <!-- -->

                    <li class="nav-item">
                        <a class="nav-link" href="#">Living & Working</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Location & Connectivity</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>