<main id="main" class="page_home">
    {{ if .Params.hero.display }}
      {{ partial "hero.html" . }}
    {{ end }}
    {{ if .Params.support.display }}
      {{ partial "entrance/support.html" . }}
    {{ end }}

    {{ if .Params.growthsectors.display }}
      {{ partial "entrance/growthsectors.html" . }}
    {{ end }}

    {{ if .Params.othersectors.display }}
      {{ partial "entrance/othersectors.html" . }}
    {{ end }}

    {{ if .Params.locationmap.display }}
      {{ partial "entrance/locationmap.html" . }}
    {{ end }}

    <div class="pre-footer d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-8">
                    <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_856,h_306,c_fit,q_auto,f_auto/pre-footer-graphic.png" alt="just a decorative image">
                </div>
            </div>
        </div>
    </div>

</main>