<main id="main" class="page_home">
    {{ if .Params.hero.display }}
      {{ partial "hero.html" . }}
    {{ end }}
    {{ if .Params.support.display }}
      {{ partial "entrance/support.html" . }}
    {{ end }}

    {{ if .Params.growthsectors.display }}
      {{ partial "entrance/growthsectors.html" . }}
    {{ end }}

    {{ if .Params.othersectors.display }}
      {{ partial "entrance/othersectors.html" . }}
    {{ end }}

    {{ if .Params.locationmap.display }}
      {{ partial "entrance/locationmap.html" . }}
    {{ end }}

    {{ partial "prefooter.html" . }}

</main>