<main id="main" class="page_home">

    {{ partial "hero.html" . }}
    {{ partial "entrance/support.html" . }}


    <section class="section_growth-sector-previews">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="pre-title">Lincolnshire’s Investment Opportunities</p>
                    <h2 class="h2-large text-dark-blue mt-0 mb-3">Industrial &amp; Technology Growth Sectors</h2>
                    <p>Lincolnshire is leading the way in the high-growth, technology-driven sectors of the future.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/adv-eng-manu.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-aem" href="#">Advanced Engineering &amp; Manufacturing</a></h3>
                            <p>A leading industry cluster with cutting-edge innovation in Industry 4.0 specialisations including AI, big data, robotics and automation.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-aem"></i>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/agrifood.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-agrifood" href="#">Agrifood</a></h3>
                            <p>At the heart of the UK’s agrifood sector and home to Europe’s largest agrifood technology, automation and robotics industry cluster.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-agrifood"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/defence-security.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-defence" href="#">Defence &amp; Security</a></h3>
                            <p>The location of choice for defence and security technology innovation, with 40% of the RAF’s assets in or near the region.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-defence"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/logistics.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-logistics" href="#">Logistics</a></h3>
                            <p>A major logistics centre with the UK’s 2nd highest concentration of logistics businesses and the country’s 2nd largest ports complex (by tonnage).</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-logistics"></i>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/low-carbon.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-lowcarbon" href="#">Low Carbon Energy &amp; Industry</a></h3>
                            <p>At the forefront of the UK’s transition to Net Zero and a pioneering testbed for clean energy generation, storage and distribution.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-lowcarbon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 card-wrapper position-relative">
                    <div class="card shadow">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_416,h_250,c_fit/robotics.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link clr-irobotics" href="#">Intelligent Robotics</a></h3>
                            <p>Advanced, cross-sector AI/intelligent robotics capabilities, transforming industrial productivity through digitalisation and automation.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right clr-irobotics"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_50-50-sectors">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 position-relative">
                    <h2 class="h2-small text-dark-blue">Visitor Economy</h2>
                    <div class="card">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_636,h_390,c_fit/visitor-economy.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link" href="#">Tourism and Leisure</a></h3>
                            <p>Greater Lincolnshire is home to a thriving tourism sector with significant growth potential.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 position-relative">
                    <h2 class="h2-small text-dark-blue">Living &amp; Working</h2>
                    <div class="card">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_636,h_390,c_fit/work-live-enjoy.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link" href="#">A Place to Live, Work &amp; Enjoy</a></h3>
                            <p>Vitae ultricies Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas dui id.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_banner-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 pe-lg-0">

                    <div class="red-border d-block d-lg-flex align-items-center">
                        <div class="content">
                            <h2 class="h2-small text-red">Lincolnshire's Location Benefits</h2>
                            <p>Lincolnshire’s strategic location in England’s East Midlands, enables fast, efficient access to UK and international markets by road, rail, air and sea.</p>
                        </div>

                        <div class="img-wrapper">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_535,h_472,c_fit/lincs-uk-map.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-3 ps-lg-0 position-relative">
                    <div class="red-sidebar position-relative d-flex flex-column justify-content-center findoutmore">
                        <h3><a class="full-card-click arrow-link" href="#">Find out more</a></h3>
                        <p>about Lincolnshire’s location and connectivity advantages</p>

                        <div class="btn-wrapper d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pre-footer d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-8">
                    <img class="xxlazy w-100" src="" data-src="https://res.cloudinary.com/lincs/image/upload/w_856,h_306,c_fit/pre-footer-graphic.png" alt=" ">
                </div>
            </div>
        </div>
    </div>

</main>