<main id="main" class="page_home">
    {{ if .Params.hero.display }}
      {{ partial "hero.html" . }}
    {{ end }}
    {{ if .Params.support.display }}
      {{ partial "entrance/support.html" . }}
    {{ end }}

    {{ if .Params.growthsectors.display }}
      {{ partial "entrance/growthsectors.html" . }}
    {{ end }}

    {{ if .Params.othersectors.display }}
      {{ partial "entrance/othersectors.html" . }}
    {{ end }}

    <section class="section_banner-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 pe-lg-0">

                    <div class="red-border d-block d-lg-flex align-items-center">
                        <div class="content">
                            <h2 class="h2-small text-red">Lincolnshire's Location Benefits</h2>
                            <p>Lincolnshire’s strategic location in England’s East Midlands, enables fast, efficient access to UK and international markets by road, rail, air and sea.</p>
                        </div>

                        <div class="img-wrapper">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_535,h_472,c_fit,q_auto,f_auto/lincs-uk-map.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-3 ps-lg-0 position-relative">
                    <div class="red-sidebar position-relative d-flex flex-column justify-content-center findoutmore">
                        <h3><a class="full-card-click arrow-link" href="#">Find out more</a></h3>
                        <p>about Lincolnshire’s location and connectivity advantages</p>

                        <div class="btn-wrapper d-flex justify-content-end">
                            <i class=""><svg fill="#ffffff" width="26.5px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"/></svg></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pre-footer d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-8">
                    <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_856,h_306,c_fit,q_auto,f_auto/pre-footer-graphic.png" alt=" ">
                </div>
            </div>
        </div>
    </div>

</main>