<main id="main" class="page_home">

    {{ partial "hero.html" . }}
    {{ partial "entrance/support.html" . }}
    {{ partial "entrance/growthsectors.html" . }}



    <section class="section_50-50-sectors">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 position-relative">
                    <h2 class="h2-small text-dark-blue">Visitor Economy</h2>
                    <div class="card">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_636,h_390,c_fit/visitor-economy.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link" href="#">Tourism and Leisure</a></h3>
                            <p>Greater Lincolnshire is home to a thriving tourism sector with significant growth potential.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 position-relative">
                    <h2 class="h2-small text-dark-blue">Living &amp; Working</h2>
                    <div class="card">
                        <div class="card-header">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_636,h_390,c_fit/work-live-enjoy.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3><a class="full-card-click arrow-link" href="#">A Place to Live, Work &amp; Enjoy</a></h3>
                            <p>Vitae ultricies Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas dui id.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_banner-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 pe-lg-0">

                    <div class="red-border d-block d-lg-flex align-items-center">
                        <div class="content">
                            <h2 class="h2-small text-red">Lincolnshire's Location Benefits</h2>
                            <p>Lincolnshire’s strategic location in England’s East Midlands, enables fast, efficient access to UK and international markets by road, rail, air and sea.</p>
                        </div>

                        <div class="img-wrapper">
                            <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_535,h_472,c_fit/lincs-uk-map.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-3 ps-lg-0 position-relative">
                    <div class="red-sidebar position-relative d-flex flex-column justify-content-center findoutmore">
                        <h3><a class="full-card-click arrow-link" href="#">Find out more</a></h3>
                        <p>about Lincolnshire’s location and connectivity advantages</p>

                        <div class="btn-wrapper d-flex justify-content-end">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pre-footer d-flex justify-content-center">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-8">
                    <img loading="lazy" src="https://res.cloudinary.com/lincs/image/upload/w_856,h_306,c_fit/pre-footer-graphic.png" alt=" ">
                </div>
            </div>
        </div>
    </div>

</main>