{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<section class="blog-post mb-5">
  <div class="container">
      <div class="row">
          <div class="col-12">
            {{ range .Pages }}
            <div>
              <img src="{{ $imagedomain }}w_340/{{ .Params.image }}"/>
               <h3><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
               {{ .Summary }}
            </div>
            {{ end }}
          </div>
      </div>
  </div>
</section>    
{{ end }}
