{{ define "main" }}
{{$imagedomain := string .Site.Params.imagedomain }}
<main id="main" class="page_home">
<section class="section_articles-preview">
  <div class="container">
      <div class="row">

            {{ range where .Site.Pages "Type" "article" }}
            <div class="col-12 col-lg-4 position-relative sector_{{.Params.sector}}">
                <div class="card shadow">
                    <div class="card-header">
                        <img loading="lazy" src={{ replace .Params.image "upload/" "upload/w_416/q_auto,f_auto/" }} alt="">
                    </div>
                    <div class="card-body">
                        <p class="text-sector-mid"><small>{{ .Params.sector | strings.FirstUpper }}</small></p>
                        <h2><a class="full-card-click arrow-link text-sector-mid text-decoration-none" href="{{.RelPermalink }}">{{ .Params.title}}</a></h2>
                        <div>{{ .Summary | truncate 200 }}</div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <i class="fa-sharp fa-regular fa-arrow-right text-sector-mid"></i>
                    </div>
                </div>
            </div>
           {{ end }}

      </div>
  </div>
</section> 
</main>   
{{ end }}
